.content{
            margin-left:0px;
        }
        .container{
            margin-left:0px;
            text-align: left;
        }
    	.checkedClass {
    	text-decoration: line-through;
		}
        .half-line {
        line-height: .3em;
        }
        .brand,
        .navbar .navbar-brand,
        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #646475;
            text-shadow: 1px 1px 0px #fff;
         /* font-size: 2em; */
            /*For fake logo only, remove if change*/
            font-family: 'Aguafina Script', sans-serif;
            line-height: 1em;
            margin-bottom: -1em;
        }
        .navbar {
            position: relative;
            z-index: 20;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
            background: #dddde2;
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddde2), color-stop(1, #f9f9f9));
            background: -ms-linear-gradient(bottom, #dddde2, #f9f9f9);
            background: -moz-linear-gradient(center bottom, #dddde2 0%, #f9f9f9 100%);
            background: -o-linear-gradient(bottom, #dddde2, #f9f9f9);
            filter: progid:dximagetransform.microsoft.gradient(startColorStr='#dddde2', EndColorStr='#f9f9f9');
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9',EndColorStr='#dddde2')";
            /* padding: 1.50em; */
            margin: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 0px;
            border-bottom: 1px solid #9898a7;
        }